:root {
  --primary-colour: #040426;
  --secondary-colour: #f2f0ef;
  --accent-colour: #e6d7ff;
  --text-colour: #040426;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Parkinsans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-colour);
  font-size: 18px;
  color: var(--text-colour);
}

h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

header {
  background-color: var(--accent-colour);
  text-align: center;
  display: flex;
  padding: 24px 44px;
  justify-content: space-between;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-menu li {
  margin: 0 0 0 44px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-colour);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-colour);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-menu-and-account {
  display: flex;
  align-items: center;
}

.fa-regular.fa-circle-user {
  margin: 0 0 0 44px;
  font-size: 44px;
  transition: 200ms ease-in-out;
}

.fa-regular.fa-circle-user:hover {
  padding: 0 0 10px 0;
}

main {
  padding: 44px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

/**Reusable button styles**/

.branded-button-dark,
.branded-button-light {
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  font-family: "Parkinsans", sans-serif;
  transition: 300ms ease-in-out;
  font-size: 16px;
}

.branded-button-dark {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

.branded-button-dark:hover {
  background-color: var(--accent-colour);
  color: var(--primary-colour);
}

.branded-button-light {
  background-color: var(--accent-colour);
  color: var(--primary-colour);
}

.branded-button-light:hover {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

/**End of - Reusable button styles**/

.book-card-component {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  width: 660px;
  height: min-content;
  padding: 24px 32px;
  justify-content: space-between;
}

.book-card-content {
  text-align: left;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.book-card-book-title,
.book-card-author-name,
.book-card-cover-image,
.book-card-blurb {
  margin: 0;
}

.book-card-book-title {
  font-size: 28px;
  margin-bottom: 8px;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-card-author-name {
  font-size: 18px;
  font-weight: 400;
}

.book-title-and-author {
  flex: 1;
}

.book-card-blurb {
  margin: 0 0 28px 0;
}

.book-card-cover-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.homepage-book-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.shortened-blurb {
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 300px;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
  }

  .homepage-book-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .book-card-component {
    flex-direction: column;
    padding: 44px 32px;
  }

  .book-card-content {
    order: 2;
    width: 100%;
    margin-top: 36px;
    gap: 14px;
  }

  .shortened-blurb {
    width: 100%;
  }

  .book-card-cover-image {
    width: 60%;
    align-self: center;
  }

  .book-card-blurb {
    margin: 0 0 18px 0;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 24px;
  }

  .book-card-component {
    width: 360px;
  }

  .book-card-cover-image {
    width: 100%;
  }

  .book-card-blurb {
    margin: 0 0 12px 0;
  }
}
