:root {
  --primary-colour: #040426;
  --secondary-colour: #f2f0ef;
  --accent-colour: #e6d7ff;
  --text-colour: #040426;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Parkinsans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-colour);
  font-size: 16px;
  color: var(--text-colour);
}
h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 1.2;
}
h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
}
h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  font-weight: 600;
}

header {
  background-color: var(--accent-colour);
  padding: 1rem;
  text-align: center;
}
main {
  padding: 44px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

/**Reusable button styles**/

.branded-button-dark,
.branded-button-light {
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  font-family: "Parkinsans", sans-serif;
  transition: all 200ms ease-in-out;
}

.branded-button-dark {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

.branded-button-dark:hover {
  background-color: var(--accent-colour);
  color: var(--primary-colour);
}

.branded-button-light {
  background-color: var(--accent-colour);
  color: var(--primary-colour);
}

.branded-button-light:hover {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

/**End of - Reusable button styles**/

.book-card-component {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  width: 660px;
  height: min-content;
  padding: 24px 32px;
  justify-content: space-between;
}

.book-card-content {
  text-align: left;
  width: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: start;
}

.book-card-book-title,
.book-card-author-name,
.book-card-cover-image,
.book-card-blurb {
  margin: 0;
}

.book-card-book-title {
  font-size: 28px;
  margin-bottom: 8px;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-card-author-name {
  font-size: 18px;
  font-weight: 400;
}

.book-title-and-author {
  flex: 1;
}

.book-card-blurb {
  margin: 0 0 18px 0;
}

.book-card-cover-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
}

.book-card-cover-image img {
  height: 100%;
}

.homepage-book-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.shortened-blurb {
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 300px;
}

@media (max-width: 1400px) {
  .homepage-book-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
